body {
    background-color: #F2EFE7;
}

.navbar {
    background-color: #48A6A7;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.logout-btn {
    background-color: #2973B2;
    border-color: #2973B2;
}

.logout-btn:hover {
    background-color: #9ACBD0;
    border-color: #9ACBD0;
}

.container {
    margin-top: 20px;
}